//-Текущий год
- year = new Date().getFullYear()

//-Основная информация
- phone = { formatted: "+7 (495) 128-86-72", notFormatted: "+74951288672" }
- title = `Онлайн-автошкола АвтоГуру в Москве | Обучение на права категории B и A, удобный график, рассрочка `
- description = `✅ Поможем открыть категорию А и Б в Москве ✔️ Классы и автодромы рядом с вами ✔️ Офлайн и онлайн  обучение в автошколе ✔️ Станьте водителем за 3 месяца ✔️ Доступная стоимость, рассрочка без % ✔️ ☎️ ${phone.formatted}`
- mail = "avtoshkolaguru@yandex.ru"
- workTime = "с 10:00 до 20:00 без выходных"
- vk = "https://vk.com/avtogyrygyry"

//-Навигационные ссылки
-   prefixUrl = ""
-
    navLinks = [
        {
            name: "Главная",
            href: `${prefixUrl}#autoguru`
        },
        {
            name: "О нас",
            href: `${prefixUrl}#about`
        },
        {
            name: "Формат обучения",
            href: `${prefixUrl}#studying`
        },
        {
            name: "Цены",
            href: `${prefixUrl}#prices`
        },
        {
            name: "Контакты",
            href: `${prefixUrl}#contacts`
        }
    ]

//-Филиалы
-
    branches = [
        {
            name: "Арбатская",
            href: "arbat.html",
            address: "улица Арбат, 1",
            title: "Автошкола м. Арбатская",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.385226644492!2d37.59929410000001!3d55.75181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a4d0789bc3f%3A0x4f48614298834e1b!2z0YPQuy4g0JDRgNCx0LDRgiwgMSwg0JzQvtGB0LrQstCwLCAxMTkwMTk!5e0!3m2!1sru!2sru!4v1679048898425!5m2!1sru!2sru"
        },
        {
            name: "Новый Арбат",
            href: "noviy-arbat.html",
            address: "улица Новый Арбат, 11 ст1",
            title: "Автошкола м. Арбатская",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.3752685739955!2d37.593469315550266!3d55.75198299952319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a4cec16c891%3A0x5fcee65f791cc692!2z0J3QvtCy0YvQuSDQkNGA0LHQsNGCINGD0LsuLCAxMSDRgdGCMSwg0JzQvtGB0LrQstCwLCAxMTkwMTk!5e0!3m2!1sru!2sru!4v1679048938282!5m2!1sru!2sru"
        },
        {
            name: "Достоевская",
            href: "dostoevskaya.html",
            address: "Олимпийский проспект, 14",
            title: "Автошкола м. Достоевская",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.8455482161207!2d37.62107161555133!3d55.77855429747354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a6d4e18c881%3A0x7e9eaec196121aa2!2z0J7Qu9C40LzQv9C40LnRgdC60LjQuSDQv9GALiwgMTQsINCc0L7RgdC60LLQsCwgMTI5MDkw!5e0!3m2!1sru!2sru!4v1679048969979!5m2!1sru!2sru"
        },
        {
            name: "Рижская",
            href: "rijskaya.html",
            address: "пр-т Мира, 88",
            title: "Автошкола м. Рижская",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1832.382099741802!2d37.6347476551658!3d55.79438764656784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b535f156400001%3A0x16be13bff2d4b8de!2z0L_RgC3RgiDQnNC40YDQsCwgODgsINCc0L7RgdC60LLQsCwgMTI5MTEw!5e0!3m2!1sru!2sru!4v1679049235765!5m2!1sru!2sru"
        },
        {
            name: "Театральная",
            href: "teatralnaya.html",
            address: "улица Петровка, 15",
            title: "Автошкола м.Театральная",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.6726241409488!2d37.6166163!3d55.764188999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a43a53b31ad%3A0x264ac733cb6175a9!2z0J_QtdGC0YDQvtCy0LrQsCDRg9C7LiwgMTUsINCc0L7RgdC60LLQsCwgMTI1MDA5!5e0!3m2!1sru!2sru!4v1679049319078!5m2!1sru!2sru"
        },
        {
            name: "Пушкинская",
            href: "pushkinskaya.html",
            address: "Тверская улица, 20",
            title: "Автошкола м. Пушкинская",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.5251918334498!2d37.60013581555093!3d55.766749898384184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a38a983fcf1%3A0xbe20434e9c63ec5!2z0KLQstC10YDRgdC60LDRjyDRg9C7LiwgMjAsINCc0L7RgdC60LLQsCwgMTI3MDA2!5e0!3m2!1sru!2sru!4v1679049439104!5m2!1sru!2sru"
        },
        {
            name: "Маяковская",
            href: "mayakovksaya.html",
            address: "Оружейный переулок, 41",
            title: "Автошкола м. Маяковская",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.119503656924!2d37.603602215551284!3d55.77379629784057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a15ec40f041%3A0x7ccdce13056a219a!2z0J7RgNGD0LbQtdC50L3Ri9C5INC_0LXRgC4sIDQxLCDQnNC-0YHQutCy0LAsIDEyNzAwNg!5e0!3m2!1sru!2sru!4v1679049952617!5m2!1sru!2sru"
        },
        {
            name: "Менделеевская",
            href: "mendeleevskaya.html",
            address: "пр-т Мира, 88",
            title: "Автошкола м. Менделеевская",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.92777690451!2d37.633844751639074!3d55.79449199614778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b535f156400001%3A0x16be13bff2d4b8de!2z0L_RgC3RgiDQnNC40YDQsCwgODgsINCc0L7RgdC60LLQsCwgMTI5MTEw!5e0!3m2!1sru!2sru!4v1679060901471!5m2!1sru!2sru"
        },
        {
            name: "Достоевская",
            href: "dostoevskaya2.html",
            address: "улица Образцова, 7",
            title: "Автошкола м. Достоевская",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.358395576821!2d37.606098215551704!3d55.7870143968209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a05724b69f9%3A0xdb9f46cd17625d91!2z0YPQuy4g0J7QsdGA0LDQt9GG0L7QstCwLCA3LCDQnNC-0YHQutCy0LAsIDEyNzA1NQ!5e0!3m2!1sru!2sru!4v1679050351720!5m2!1sru!2sru"
        },
        {
            name: "Марьина Роща",
            href: "maryina-rosha.html",
            address: "Шереметьевская улица, 6 к1",
            title: "Автошкола м. Марьина Роща",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.8538418138437!2d37.61465181555211!3d55.79577579614473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b535f88f87029d%3A0x2f4ceaf2e6c6d300!2z0KjQtdGA0LXQvNC10YLRjNC10LLRgdC60LDRjyDRg9C7LiwgNiDQutC-0YDQv9GD0YEgMSwg0JzQvtGB0LrQstCwLCAxMjc1MjE!5e0!3m2!1sru!2sru!4v1679050393488!5m2!1sru!2sru"
        },
        {
            name: "Войковская",
            href: "voikovskaya.html",
            address: "Новопетровская улица, 6",
            title: "Автошкола м. Войковская",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.13406419199!2d37.514361115553434!3d55.82563229384049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b548263edfb4eb%3A0x6d62bc4f63ff7642!2z0J3QvtCy0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDRg9C7LiwgNiwg0JzQvtGB0LrQstCwLCAxMjUxMzA!5e0!3m2!1sru!2sru!4v1679050419831!5m2!1sru!2sru"
        },
        {
            name: "Лубянка",
            href: "lubyanka.html",
            address: "улица Никольская, 10",
            title: "Автошкола м. Лубянка",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.0323118794636!2d37.62230431555047!3d55.7579408990636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5bec9b2c31%3A0x5963874097a4958b!2z0J3QuNC60L7Qu9GM0YHQutCw0Y8g0YPQuy4sIDEwLCDQnNC-0YHQutCy0LAsINCc0L7RgdC60L7QstGB0LrQsNGPINC-0LHQuy4sIDEwOTAxMg!5e0!3m2!1sru!2sru!4v1679050463183!5m2!1sru!2sru"
        },
        {
            name: "Юго-Западная",
            href: "yugo-zapadnaya.html",
            address: "улица Покрышкина, 8к3",
            title: "Автошкола м. Юго-Западная",
            mapSrc: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2250.3633198670595!2d37.469494076713744!3d55.665281998729036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54da213fe1431%3A0x4c2574b566c62d2c!2z0YPQuy4g0J_QvtC60YDRi9GI0LrQuNC90LAsIDgg0LrQvtGA0L_Rg9GBIDMsINCc0L7RgdC60LLQsCwgMTE5NjAy!5e0!3m2!1sru!2sru!4v1686133012993!5m2!1sru!2sru"
        }

    ].sort((a, b) => a.name.localeCompare(b.name))

//-Инструкторы
-
    instructors = [
        {
            name: "Арсений Д.",
            experience: "8 лет",
            imageSrc: "../assets/images/instructors/instructor-1.webp",
            description: "Тактичный и внимательный специалист, для которого подготовка водителей категории В — любимое дело."
        },
        {
            name: "Кирилл И.",
            experience: "12 лет",
            imageSrc: "../assets/images/instructors/instructor-2.webp",
            description: "Самый опытный инструктор автошколы, подготовивший сотни дисциплинированных водителей."
        },
        {
            name: "Богдан А.",
            experience: "9 лет",
            imageSrc: "../assets/images/instructors/instructor-3.webp",
            description: "Настоящий ас, с которым все курсанты чувствуют себя уверенно и учатся на права категории В с удовольствием."
        },
        {
            name: "Иван Г.",
            experience: "7 лет",
            imageSrc: "../assets/images/instructors/instructor-4.webp",
            description: "Профессионал, с которым легко осваивать навыки управления автомобилем,  разбирать ошибки и учиться их не допускать."
        },
    ]

//-Карусель автопарк
-
    cars = [
        {
            name: "Kia Soul",
            imageSrc: "../assets/images/autopark/car-1.webp"
        },
        {
            name: "Renault Duster",
            imageSrc: "../assets/images/autopark/car-2.webp"
        },
        {
            name: "Kia Rio",
            imageSrc: "../assets/images/autopark/car-3.webp"
        },
        {
            name: "Scoda Rapid",
            imageSrc: "../assets/images/autopark/car-4.webp"
        },
        {
            name: "Hyundai Solaris",
            imageSrc: "../assets/images/autopark/car-5.webp"
        },
        {
            name: "Citroen C4",
            imageSrc: "../assets/images/autopark/car-6.webp"
        },
    ]

-
    reviews =
            [
                {
                    name: "Костя",
                    age: "22 года",
                    description: "Забавно вышло — позвонил узнать, сколько стоит обучение в автошколе, а по итогу неожиданно для себя и записался. Сервис просто отличный на всех уровнях — от менеджеров до инструкторов. Онлайн-формат для теории — просто пушка, самое удобное из того что можно представить. Практику откатал быстро и с удовольствием. Ребята, спасибо! Отличный подход во всем. Рекомендую и желаю процветания.",
                    photoSrc: "../assets/images/reviews/circle.webp"
                },
                {
                    name: "Анастасия",
                    age: "32 года",
                    description: "Полгода езжу с правами и вполне уверенно себя чувствую в городе, — думала, поначалу будет сложнее. Водителей категории Б здесь готовят действительно хорошо. Я брала еще и доп. занятия. Особая благодарность инструктору Ивану!",
                    photoSrc: "../assets/images/reviews/circle-1.webp"
                },
                {
                    name: "Петр",
                    age: "38 лет",
                    description: "Решил устроиться на работу автокурьером, а за правами пришел в АвтоГуру. Выбрал эту автошколу после того как изучил, сколько стоит сдать на права в Москве. Здесь расценки самые адекватные, не нужно отдельно платить за топливо. Сразу знаешь, во сколько что обойдется. Персонал вежливый, сдал экзамен с первого раза, все отлично.",
                    photoSrc: "../assets/images/reviews/circle-2.webp"
                },
                {
                    name: "Елисей",
                    age: "19 лет",
                    description: "Почему попал именно сюда — просто нашел автошколу рядом со мной. Проходил обучение на категорию А. Все топ. 2 месяца — и в кармане права на байк. Рекомендую. Отличные ребята, а онлайн-теория вообще огонь — не нудно, но толково, с примерами из жизни. Все запомнил!",
                    photoSrc: "../assets/images/reviews/circle-3.webp"
                },
                {
                    name: "Ирина",
                    age: "29 лет",
                    description: "Выражаю огромную благодарность сотрудникам автошколы. Я была не самым талантливым и соображающим учеником, поначалу вообще не догоняла в теории и терялась за рулем. Спасибо, всему научили, в том числе не бояться руля и не терять самообладание в нестандартных ситуациях. Богдан, вам отдельное спасибо за терпение и тактичность)) Даже не верю до конца, что сдала с первого раза. Очень большая поддержка чувствовалась в процессе всего обучения, а еще и сопровождение на экзамене. АвтоГуру — однозначно одна из лучших автошкол Москвы.",
                    photoSrc: "../assets/images/reviews/circle-4.webp"
                }
            ]

-
    overrun = [
        {
            title: 'Минимальный курс',
            features: ['5 занятий с инструктором', 'Онлайн поддержка'],
            price: '11 000 ₽'
        },
        {
            title: 'Оптимальный курс',
            features: ['10 занятий с инструктором', 'Доступ к онлайн платформе ПДД', 'Онлайн поддержка'],
            price: '20 000 ₽'
        },
        {
            title: 'Расширенный курс',
            features: [
                '10 занятий с инструктором',
                'Доступ к онлайн платформе ПДД',
                'Онлайн поддержка',
                'Сессия с психологом (как побороть страх вождения и приобрести уверенность за рулем)'
            ],
            price: '25 000 ₽'
        }
    ]
